/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding:0;
    text-decoration:none;
    list-style-type: none;
    box-sizing: border-box;

}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body{
    display: flex;
    justify-content: center;
    min-width: 1024px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50Px;
    box-sizing: border-box;
}
.fa-solid {
    color: var(--main-color);
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color:white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}
.neutral-star{
    color: #F2F2F2;
}
/* HEADER*/
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: black 3px solid;
}
.block-logo-nav{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.logo{
    width: 100px;
    padding: 30px 0px;
}
.menu-nav{
    display: flex;
    width: 400px;
    align-items:start;
    justify-content: space-around;
}
.menu-nav a{
    color: black;
    font-weight:500;
}
.menu-nav a:hover{
    border-top: #0065FC 3px solid;
}
.menu-nav a{
    padding: 30px;
}
.block-research{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
}
h1{
    border:#0065FC 1px solid;
    font-size: x-large;
    padding-top: 20px 0px;
}
.block-research p{
    font-size: 500;
}
.block-search{
    padding: 20px;
}
form a {
    padding: 15px;
}

input::placeholder {
    font-size: medium;
    font-weight:bolder;
    color: black;
    opacity: 1;
}
.input-research{
    padding: 15px;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    border-left:none;
    border-right:none;
    margin-left: -4px;

}
.button-search{
    padding: 15px;
    border-radius: 0px 12px 12px 0;
    border: none;
    background-color: #0065FC;
    color: #F2F2F2;
    font-weight: bold;   
    margin-left: -4px;
    
}
.button-mobile{
    display: none;
}

.block-filtres{
    display: flex;
    flex-direction: column; 
    width: 800px;
}
.filtres{
    display: flex;
    align-items: center;
    width: 0 auto;
    max-width: 800px;
    border: palegreen 3px solid;
}
.filtres ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h3{
    padding: 20px;
}
.filtres li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: #DEEBFF 2px solid;
    border-radius: 30px;
    font-weight: bold;
    margin: 5px;
}
.filtres li:hover{
    background-color: #DEEBFF;
}
.block-filtres i{
    padding: 0px 10px;
}

p i{
    font-size: 20px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid green;    
}

/*Fin du HEADER*/


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    border: red 1px solid;
}
.hebergements-and-populaires section a{
    color: black;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    font-size: 16px;
    border: purple 1px solid;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: #0065FC 1px solid;
    padding: 30px 0px;
    gap: 30px;
}
.hebergements-cards .card {
    border:black 2px solid;
    width: 30%;
}
.hebergements-cards img {
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    border: magenta 1px solid;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-size: small;
}

.hébergements-cards .card-rating {
    margin-bottom: 5px;
} 
h5{
    padding: 20px 0px;
}

/****** Populaires ***********/
.populaires {
    width: 33%;
    border: brown 1px solid;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.populaires-cards a {
    display: flex;
}

.populaires-cards .card {
    margin-top: 33px;
    border: #0065FC 1px solid;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: black 1px solid;
}
.populaires-cards .card-title{
    padding: 0;
    border: purple 1px solid;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    box-sizing: border-box;
    border: red 1px solid;
}

/* A modifier
.populaires-cards .card-title {
   

}

.populaires-cards .card-subtitle {
    

}

.populaires-cards .card-rating {
    
}
*/

/******* activité********/
.Activites{
    border: #0065FC solid 2px;
    
}
.activites-title{
    border: pink solid 2px;
    align-items: center;
    padding: 30px;
    font-size: small;
    
}
.Activites-cards{
    display: flex;
    justify-content: space-between;
}
.Activites-cards .card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: saddlebrown 1px solid;
    width: 23%;

}
.Activites-cards img{
    width: 100%;
    height:auto;
    border-radius: 20px 20px 0px 0px;
}
.Activites-cards .card-title{
    border:black 2px solid;
    border-radius: 0px 0px 20px 20px;
    font-weight: 700;
    font-size: 16px;
}
/* footer*/

.Footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 163px;
    width: 100%;
    border:purple 2px solid;
    background-color:#F2F2F2;
}

.Footer-section{
    border:green 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.Footer-section a {
    color: black;
}
.Footer-section li{
    padding: 10px;
    font-size: 16px;
}
.footer-title{
    font-weight: bold;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container{
        margin: 0 auto;
        max-width: 768px ;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .filtres li {
        flex-wrap: wrap;
    }

    .hebergements {
        width: 100%;
        display: flex;
        flex-direction:column;
        justify-content:center ;
    
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .Activites{
        display: flex;
        flex-direction:column;
        margin-top: 30px;
    }
    .Activites img{
        width: 0 auto;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
    }

}  



/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .main-container{
        margin: 0 auto;
        max-width: 768px ;
    }
    .block-logo-nav{
        display: flex;
        flex-direction: column;
    }
    .logo{
        border: green 1px solid;
        display: block;
        margin:0 auto;
    }
    .menu-nav{
        border: black 1px solid;
        display: flex;
        width: 100%;
    }
    .menu-nav a:hover{
        border-bottom:#0065FC 3px solid ;
        color: #0065FC;
        border-top: none;
    }

    
}